li{
    display: inline;
    text-decoration: none;
    padding: 2%;
    color: white;
    font-family: helvetica;
    font-size: 20px;
}
ul{
    padding: 1%;
    background:rgba(0,0,0, 1);
    margin-bottom: -10px; 
}
.list{
    margin-left: 67%;
    margin-bottom: 20px;
}
body{
    margin: 0;
}
header{
    position: absolute;
    margin-top: -18px;
    background-image:url("cover.jpg"); 
    height: 60%;
    width: 100%;
    background-color:black;
    background-size: cover; 
}
h1{
    margin-top: 50px;
    color:  #D0D0D0;
    text-align: center;
    font-size: 37px;
}

/*.song2{
    height: 300px;
    width: 200px;
    background-color: red;
    float: left;
}
.song3{
    height: 300px;
    width: 200px;
    background-color: pink;
    float: left;
}
.song4{
    height: 300px;
    width: 200px;
    background-color: blue;
    float: left;
}*/