td{
        padding: 35px;
    }
    li{
    display: inline;
    text-decoration: none;
    padding: 2%;
    color: white;
    font-family: helvetica;
    font-size: 20px;
}
ul{
    padding: 0.1%;
    background:#191919; 
}
body{
    margin: 0px;
    font-family: helvetica;
    background-color:#323232; 
}
.list{
    margin-left: 67%;
    margin-bottom: 20px;
}
.foot{ 
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: brown;
}
.fa-pause-circle{
    font-size: 35px;
    margin-left: 1%;
    margin-bottom: 300px;
}
.fa-play-circle{
    font-size: 35px;
    margin-left: 1%;
    margin-bottom: 300px;
}

.fa-backward{
font-size: 35px;
    margin-left: 25%;
    margin-bottom: 300px;
}
.fa-forward{
    font-size: 35px;
    margin-left: 0.8%;
    margin-bottom: 300px;
}
tr:hover{ cursor:pointer;
         text-decoration: underline;}
li:hover{color: #00b200;
        cursor:pointer;}
i:hover{cursor:pointer;}   
#duration,#current_time{
    background-color: Transparent;
    padding: 2px;
    border: none;
} 
#foot_name{
    background-color: Transparent;
    border: none;
    position: absolute;
    margin-top: 19px;
    margin-bottom: 80px;
    margin-right: 500px;
    font-family: helvetica;
    font-size: 15px;
}
progress{
    position: absolute;
    margin-top: 10px;
    margin-left: 15%;
    -webkit-appearance: none;
    border: none;
}
progress::-webkit-progress-bar {
    background: black;
    height: 9px;
    border-radius: 50px;
    padding: 2px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
    border-radius: 50px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    background: grey;
}
.slideshow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
img{
    border-radius: 10px;
}
.fading {
  animation: fading 10s infinite;
}
table{
    padding: 50px;
}
td{
    padding: 15px;
}
label{
    color: white;
}